<%if session[:user_id]!=nil%>
	<%user = User.find(session[:user_id])%>
	<%role = Role.find_by(role_name: '管理者')%>
	
	<%if user.role_id == role.id%>
		<div class="section">
			<div class="container">
		  		<div class="row">
		    		<div class="col s12">
		      			<blockquote><p>ユーザー管理</p></blockquote>
		    　		</div>

		    		<div class="row">
		    			<ul>
							<% @users.each do |r| %>
								<%= form_tag(session_path(r.id), :method => :put, class: "col s12") do%>
									<div class="row">
										<div class="col s5">
								    		<i class="material-icons prefix">account_circle</i>
											<%= r.user_name%> (<%= r.student_id%>)
											<% if r.image? %>
											    <%= image_tag r.image.url,:size => "32x32"%>
											<% end %>
										</div>
										<div class="col s2">
											<%=link_to "[削除]", user_path(r), method: :delete, data: { confirm: "本当に削除しますか?" },class:"waves-effect waves-light btn orange"%>
					    				</div>
					    				<div class="col s3">
					    					<%= select_tag :role, options_from_collection_for_select(@roles, :id, :role_name, r.role_id)%>
											<%= hidden_field_tag :user_id, r.id%>
										</div>
										<div class="col s2">
											<%= submit_tag "変更",class: "waves-effect waves-light btn orange" %>
										</div>	
									</div>
								<%end%>
							<%end%>
						</ul>
		    		</div>
		    		<!--FAB menu-->
					<div class="fixed-action-btn horizontal click-to-toggle">
						<a class="btn-floating btn-large red accent-2">
							<i class="large material-icons">add</i>
						</a>
						<ul>
						  	<%if session[:user_id] != nil%>
						  		<li><a><%=link_to '<i class="material-icons">lock_outline</i>'.html_safe,session_path(session[:user_id]),class: "btn-floating red", method: :delete, data: { confirm: "本当にログアウトしますか?" }%></a></li>
						  		<li><a><%=link_to "<i class='material-icons'>perm_identity</i>".html_safe,user_path(session[:user_id]),class: "btn-floating yellow darken-1"%></a></li>
						  	<%else%>
						  		<li><a><%=link_to "<i class='material-icons'>perm_identity</i>".html_safe,new_session_path,class: "btn-floating yellow darken-1"%></a></li>
						  	<%end%>
						  	<li><a><%=link_to "<i class='material-icons'>view_list</i>".html_safe,games_path,class: "btn-floating green"%></a></li>
						</ul>
					</div>	 
		    	</div>
		    </div>
		</div>
	<%else%>
		<h5>あなたのアカウントには管理者権限がありません。</h5>
	<%end%>
<%else%>
	<h5>ログインしてください</h5>
<%end%>