 <h1> ログイン </h1>
 
	<% if notice %>
       		<alert> <%= notice%> </alert>
       	<%end%>

 	<%= form_for @user, url: sessions_path, method: :post do |f| %>
      <% @user.errors.each do |attr, message| %>
          <%= message%>
      <%end%>
      
   		<%= f.label :student_id %>
   		<%= f.text_field :student_id %>
   		<%= f.label :password%>
   		<%= f.password_field :password %>
   		<%= f.submit "login" %>
  	<%end%>
  	<br>

  	<%= link_to "ユーザー登録", new_user_path%>