
<div class="section"></div>
  <main>
    <center>
      <img class="circle responsive-img valign profile-image-login" style="width: 250px;" src=<%=image_path("Mahjong.png")%> />
        <div class="section"></div>

        <h5 class="orange-text text-darken-2">Login to your account</h5>
        <div class="section"></div>

        <div class="container">
          <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

            
              <%= form_for @user, url: sessions_path, method: :post,class: "col s12" do |f| %>
                <div class='row'>
                  <div class='col s12'>                   
                    <% if notice %>
                      <p class= "orange-text"> <%= notice%> </p>
                    <%end%>
                    <% @user.errors.each do |attr, message| %>
                      <li><%= message%></li>
                    <%end%>
                  </div>
                </div>
              <div class='row'>
                <div class='input-field col s12'>
                  <i class="material-icons prefix">account_circle</i>
                    <%= f.label :student_id,"Enter your student ID" %>
                    <%= f.text_field :student_id ,class: 'validate'%>
                </div>
              </div>

              <div class='row'>
                <div class='input-field col s12'>
                  <i class="material-icons prefix">lock_open</i>
                    <%= f.label :password,"Enter your password"%>
                    <%= f.password_field :password,class: 'validate' %>
                </div>
              </div>

              <br />
              <center>
                <div class='row'>
                  <%= f.submit "login", class: 'col s12 btn btn-large waves-effect orange darken-2'%>
                </div>
              </center>
            <%end%>
          </div>
        </div>
        <p><%= link_to "ユーザー登録", new_user_path ,class: "waves-effect waves-light btn pink"%></p>
      </center>

      <div class="section"></div>
      <div class="section"></div>
    </main>
