<% if notice %>
    <alert> <%= notice%> </alert>
<%end%>

<h1><%= @user.user_name%>のマイページ</h1>

<h3>プロフィール画像</h3>
<%= image_tag @user.image.url,:size => "200x200" %>
<br>

<hr>
<%if session[:user_id] != nil%>
	<%= link_to "[ログアウト]",session_path(@user), method: :delete, data: { confirm: "本当にログアウトしますか?" }%>
<%else%>
	<%= link_to "[ログイン]",new_session_path%>
<%end%>
<%= link_to "管理者画面", sessions_path%>
<%= link_to "対局追加", new_game_path%>
<%= link_to "全対局", games_path%>
<%= link_to "ユーザー情報編集",edit_user_path(@user)%>

<hr>

		<% @games.each do |g| %>

			<% e_user = User.find_by_id(g.e_userid)%>
			<% s_user = User.find_by_id(g.s_userid)%>
			<% w_user = User.find_by_id(g.w_userid)%>
			<% n_user = User.find_by_id(g.n_userid)%>
			
			対局日<%= g.try(:game_date).try(:strftime, "%Y/%m/%d")%>
			<table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
				<tr>
					<th></th>
					<th>名前</th>
					<th>スコア</th>
				</tr>
				<tr>
					<td>東</td>
					<%if e_user != nil%><td><%= e_user.user_name %></td>
					<%else%><td>id = <%= g.e_userid %></td><%end%>
					<td><%=g.e_score%></td>
				</tr>
				<tr>
					<td>南</td>
					<%if s_user != nil%><td><%= s_user.user_name %></td>
					<%else%><td>id = <%= g.s_userid %></td><%end%>
					<td><%=g.s_score%></td>
				</tr>
				<tr>
					<td>西</td>
					<%if w_user != nil%><td><%= w_user.user_name %></td>
					<%else%><td>id = <%= g.w_userid %></td><%end%>
					<td><%=g.w_score%></td>
				</tr>
				<tr>
					<td>北</td>
					<%if n_user != nil%><td><%= n_user.user_name %></td>
					<%else%><td>id = <%= g.n_userid %></td><%end%>
					<td><%=g.n_score%></td>
				</tr>
			</table>
		<%end%>
		<%= paginate(@games) %>
