<h1>ランキング</h1>
<%=link_to "全対局",games_path%>
<hr>
<%=form_tag(ranks_path) do %>
	<p>対局日 開始
	<%=	text_field :start_t,:start_time%>~
	終了
	<%=	text_field :end_t,:end_time%>
	<%=submit_tag( "検索する")%>
	</p>
<hr>


	<% @users.each do |u| %>

			<li>
					<%= u.user_name%>/<%= u.total_score%>/<%= u.game_count%>
			</li>
		<%end%>

<%end%>