<h1>結果を編集</h1>

<%= link_to "mypage", user_path(session[:user_id])%>
<%= link_to "全対局", games_path%>

<hr>

<%=form_for @game do |f|%>
	
	
		<% @game.errors.each do |attr, message| %>
			<li><%= message%></li>
		<%end%>

		<li>対局日<%=f.label :game_date%>
		<%=f.text_field :game_date%></li>
		<li>東<%= f.label :e_userid%>
		<%= f.select :e_userid, User.all.uniq.map{|t| [t.user_name, t.id]} %> 
		<%= f.label "±"%>
		<%= f.select :e_pm, options_for_select([["+", 1], ["△", -1]])  %> 
		<%#<%=p params.as_json %>
		<%=f.label :e_score%>
		<%=f.text_field :e_score%></li>
		<li>南<%= f.label :s_userid%>
		<%= f.select :s_userid, User.all.uniq.map{|t| [t.user_name, t.id]} %>
		<%= f.label "±"%>
		<%= f.select :s_pm, options_for_select([["+", 1], ["△", -1]])  %>
		<%=f.label :s_score%>
		<%=f.text_field :s_score%></li>
		<li>西<%= f.label :w_userid%>
		<%= f.select :w_userid, User.all.uniq.map{|t| [t.user_name, t.id]} %>
		<%= f.label "±"%>
		<%= f.select :w_pm, options_for_select([["+", 1], ["△", -1]])  %>
		<%=f.label :w_score%>
		<%=f.text_field :w_score%></li>
		<li>北<%= f.label :n_userid%>
		<%= f.select :n_userid, User.all.uniq.map{|t| [t.user_name, t.id]} %> 
		<%= f.label "±"%>
		<%= f.select :n_pm, options_for_select([["+", 1], ["△", -1]])  %>
		<%=f.label :n_score%>
		<%=f.text_field :n_score%><li>
		

		<%=f.submit "登録する"%>
	<%end%>
