<h1>対局一覧</h1>

<%=link_to "新規追加", new_game_path%>
<%=link_to "mypage", user_path(session[:user_id])%>
<hr>
	<ul>
		<% @games.each do |g| %>

			対局日<%= g.try(:game_date).try(:strftime, "%Y/%m/%d")%>
			<table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
				<tr>
					<th></th>
					<th>名前</th>
					<th>スコア</th>
				</tr>
				<tr>
					<td>東</td>
					<td><%=g.e_userid%></td>
					<td><%=g.e_score%></td>
				</tr>
				<tr>
					<td>南</td>
					<td><%=g.s_userid%></td>
					<td><%=g.s_score%></td>
				</tr>
				<tr>
					<td>西</td>
					<td><%=g.w_userid%></td>
					<td><%=g.w_score%></td>
				</tr>
				<tr>
					<td>北</td>
					<td><%=g.n_userid%></td>
					<td><%=g.n_score%></td>
				</tr>
			</table>
		<%end%>
	</ul>
</hr>