<h1>結果を新規作成</h1>

<%= link_to "mypage", user_path(session[:user_id])%>
<%= link_to "全対局", games_path%>

<hr>

<% @game.errors.each do |attr, message| %>
	<%= message%>
<%end%>

<%=form_for @game, url: games_path, method: :post do |f|%>
		<li>対局日<%=f.label :game_date%>
		<%=f.text_field :game_date%></li>
		<li>東<%= f.label :e_userid%>
		<%=f.text_field :e_userid%> 
		<%=f.label :e_score%>
		<%=f.text_field :e_score%></li>
		<li>南<%= f.label :s_userid%>
		<%=f.text_field :s_userid%> 
		<%=f.label :s_score%>
		<%=f.text_field :s_score%></li>
		<li>西<%= f.label :w_userid%>
		<%=f.text_field :w_userid%> 
		<%=f.label :w_score%>
		<%=f.text_field :w_score%></li>
		<li>北<%= f.label :n_userid%>
		<%=f.text_field :n_userid%> 
		<%=f.label :n_score%>
		<%=f.text_field :n_score%><li>
		
		<%if(params[:e_score] != nil && params[:s_score]!=nil && params[:w_score] !=nil && params[:n_score] != nil)%>
			<% sum = params[:e_score]+params[:s_score]+params[:w_score]+params[:n_score]  %>
		<%end%>
		<%=f.submit "登録する"%>
	<%end%>

