<!DOCTYPE html>
<html>
  <head>
    <title>Furiten</title>
    <%= csrf_meta_tags %>
    <!--materialize icon stylesheet-->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <script src='https://www.google.com/jsapi'></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--navバーをモバイル化-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= favicon_link_tag('favicon.ico') %>
    <%= favicon_link_tag 'furiten_icon.png', :rel => 'apple-touch-icon'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <%if request.path_info != new_session_path && request.path_info != new_user_path && request.path != root_path%>
	  <header>
	  	<nav class="nav-fixed">
			<div class="nav-wrapper">
		  		<a href="#" class="brand-logo">furiten</a>
		  		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		  		<ul id="nav-mobile" class="right hide-on-med-and-down">
	            	<li><%=link_to "対局一覧", games_path%></li>
		    		<li><%=link_to "ランキング", ranks_path%></li>
		    		<%if session[:user_id] != nil%>
		    			<li><%=link_to "新規対局登録", new_game_path%></li>
		    			<li><%=link_to "マイページ", user_path(session[:user_id])%></li>
		    			<%if Role.find_by(id: User.find_by(id: session[:user_id]).role_id)== Role.find_by(role_name: '管理者')%>
			    			<li><%=link_to "ユーザー管理", sessions_path%></li>
			    		<%else%>
			    			<li><%=link_to "ユーザーリスト", sessions_path%></li>
			    		<%end%>
		    			<li><%= link_to "ログアウト",session_path(session[:user_id]), method: :delete, data: { confirm: "本当にログアウトしますか?" }%></li>
		    		<%else%>
		    			<li><%=link_to "ログイン", new_session_path%></li>
		    		<%end%>
		  		</ul>
			</div>
	    </nav>
		 	<ul class="side-nav" id="mobile-demo">
	        		<li><%=link_to "対局一覧", games_path%></li>
		    		<li><%=link_to "ランキング", ranks_path%></li>
		    		<%if session[:user_id] != nil%>
		    			<li><%=link_to "新規対局登録", new_game_path%></li>
		    			<li><%=link_to "マイページ", user_path(session[:user_id])%></li>
		    			<%if Role.find_by(id: User.find_by(id: session[:user_id]).role_id) == Role.find_by(role_name: '管理者')%>
			    			<li><%=link_to "ユーザー管理", sessions_path%></li>
			    		<%else%>
			    			<li><%=link_to "ユーザーリスト", sessions_path%></li>
			    		<%end%>
		    			<li><%= link_to "ログアウト",session_path(session[:user_id]), method: :delete, data: { confirm: "本当にログアウトしますか?" }%></li>
		    		<%else%>
		    			<li><%=link_to "ログイン", new_session_path%></li>
		    		<%end%>
		  	</ul>
	  </header>
	<%end%>

	
  <body>
    <%= yield %>
  </body>
</html>
